<h1>Hi</h1>

<table>

  <tr>
    <th>Position</th>
    <th>Name</th>
    <th>Total</th>
    <th>Completion</th>
  </tr>

<% players.each do |player| %>
  <tr style="background-color: <%= background(player) %>">
    <td><%= position(player) %></td>
    <td><%= [player["fName"], player["lName"]].join(" ") %></td>
    <td><%= player["score"] %></td>
    <td><%= completion(player) %>%</td>
  </tr>

<% end %>

</table>
